html,body{
  height: 100%
}
.content{
  max-width: 600px;
  height:100%;
  margin: 0 auto;
  border: 1px solid #ccc
}
.input-area{
  position: relative;
  left: 40px;
}
.post_form{
  padding: 20px 40px;
  border: 1px solid #ccc;
}
.post_form input{
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
post_form textarea{
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
}
.posts li{
display: flex;
border-bottom: 1px solid #ccc;
position: relative;
}
.posts ul{
padding: 0;
}
.posts li .logo{
  flex-basis: 15%;
}
.logo img{
  width:30%;
  padding: 0px;
}
.posts li .name-body{
  flex-basis: 85%;
}
.posts li .name_body .name{
  font-size: 30px;
}
.posts li .name_body .datetime{
  color: gray
}
@media screen and (max-width: 500px) {
  .posts li .name_body .name{
    font-size: 20px;
  }  
}
.posts li .logo{
  width: 100%;
  height: 50%;
  flex-basis: 15%;
}
.posts li .menu{
  flex-basis: 15%;
  display: none;
  position: absolute;
  top: 42%;
  right: 4%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}
.posts li .menu a{
  text-decoration: none;
}
.posts li .js-menu-icon{
 
  width: 20px;
  height: 20px;
  position: relative;
  left: 550px;
  top: 20px;
}
